* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 60px 40px;
}

h3 {
    padding-bottom: 20px;
    color: #239954;
}

form {
    padding: 50px 40px;
    background-color: #FFFFFF;
    box-shadow: 0 0 7px #cfcfcf;
}

form input {
    display: block;
    padding: 10px;
    margin-bottom: 50px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #f5f6fa;
}

form button{
    display: block;
    padding: 7px 25px;
    margin: 10px 0 0 43%;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: #27b161;
    color: #f5f6fa;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 2px #999999;
}




